.cover {
    background-color: $pink;
    display: flex;
    flex-direction: column;
    padding-bottom: rem(18);
    overflow: hidden;
    padding-top: 60px;

    @media (min-width: 768px) {
        padding-bottom: rem(35.5);
        padding-top: 92px;
    }
}

.cover {
    .total__width {
        @media (min-width: 768px) {
            min-width: rem(790);
        }
    }
}

.cover__wrap {
    max-width: rem(650);
    margin: 0 auto;
    position: relative;

    @media (min-width: 768px) {
        max-width: rem(1500);
    }
}

.cover__container {
    display: flex;
    justify-content: space-between;

}

.cover__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(18);
    margin-left: rem(18);

    @media (min-width: 768px) {
        align-items: flex-end;
        margin-top: rem(21);
        margin-left: calc(100vw/1440*51);
    }

    h1 {
        font-size: clamp(rem(10), calc(100vw/390*42), rem(70));
        color: $white;

        @media (min-width: 768px) {
            font-size: clamp(rem(50), calc(100vw/1440*122.15), rem(150));
            position: relative;
            z-index: 1000;
            text-shadow: 5px 5px 35px rgba(250, 125, 163, .6), 5px -5px 35px rgba(250, 125, 163, .6), -5px 5px 35px rgba(250, 125, 163, .6),
                -5px -5px 35px rgba(250, 125, 163, .6), 0 0 15px rgba(250, 125, 163),
        }
    }

    span {
        font-size: clamp(rem(10), calc(100vw/390*18), rem(30));
        color: $white;
        margin-top: rem(9.5);
        margin-left: rem(2);

        @media (min-width: 768px) {
            font-size: clamp(rem(20), calc(100vw/1440*36), rem(50));
            margin-top: rem(19);
            margin-right: rem(-33);
        }
    }
}

.cover__campaign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.campaign__text {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 5px 5px rgba(0, 0, 0, .25);
    display: flex;
    padding: calc(100vw/390*9.5) calc(100vw/390*22) calc(100vw/390*21) calc(100vw/390*26);

    @media (min-width: 768px) {
        margin-right: calc(100vw/1440*34);
        padding: calc(100vw/1440*12) calc(100vw/1440*53.5) calc(100vw/1440*39) calc(100vw/1440*58);
    }

    .campaign__text--1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: clamp(rem(10), calc(100vw/390*24), rem(40));
        color: $white;
        font-weight: 700;
        margin-top: rem(15);
        margin-right: rem(9);

        @media (min-width: 768px) {
            font-size: clamp(rem(40), calc(100vw/1440*54), rem(70));
            margin-top: rem(21);
            margin-right: rem(15);
        }

        span {
            font-size: clamp(rem(10), calc(100vw/390*13), rem(25));
            color: $pink;
            background-color: $white;
            padding: rem(4) rem(3.5) rem(6.5) rem(5);
            margin-right: rem(2);
            margin-bottom: rem(7);

            @media (min-width: 768px) {
                font-size: clamp(rem(15), calc(100vw/1440*29.25), rem(50));
                margin-top: rem(10);
                margin-right: rem(10);
                margin-bottom: rem(20);
                padding: rem(11) rem(9) rem(12) rem(10);
            }
        }
    }

    .campaign__text--2 {
        display: flex;
        font-size: clamp(rem(10), calc(100vw/390*76), rem(90));
        color: #fffd7a;
        font-weight: 700;
        align-items: flex-end;

        @media (min-width: 768px) {
            font-size: clamp(rem(150), calc(100vw/1440*171), rem(190));
        }

        small {
            font-size: clamp(rem(30), calc(100vw/390*36), rem(50));
            margin-bottom: rem(3);

            @media (min-width: 768px) {
                font-size: clamp(rem(60), calc(100vw/1440*81), rem(95));
                margin-bottom: rem(8);
            }
        }
    }

}

.campaign__sub-text {
    font-size: clamp(rem(10), calc(100vw/390*14), rem(25));
    color: $white;
    font-family: 'Outfit', sans-serif;
    letter-spacing: -.2px;
    margin-top: rem(9.5);
    margin-right: rem(26);

    @media (min-width: 768px) {
        font-size: clamp(rem(10), calc(100vw/1440*26.48), rem(40));
        margin-right: rem(98);
        letter-spacing: 0;
    }

    small {
        font-size: clamp(rem(5), calc(100vw/390*9), rem(20));
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 0;

        @media (min-width: 768px) {
            font-size: clamp(rem(10), calc(100vw/1440*17.02), rem(25));
        }
    }
}


.campaign__list {
    margin: rem(25) rem(26) 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: 768px) {
        margin: rem(52.5) rem(35) 0 0;
    }

    li {
        width: clamp(rem(10), calc(100vw/390*133), rem(300));
        height: clamp(rem(30), calc(100vw/390*35), rem(400));
        border: 1px solid $white;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(rem(10), calc(100vw/390*18), rem(30));
        color: $white;
        padding-bottom: rem(3);
        margin-bottom: rem(12);

        @media (min-width: 768px) {
            font-size: clamp(rem(15), calc(100vw/1440*28), rem(45));
            width: clamp(rem(10), calc(100vw/1440*424), rem(600));
            height: clamp(rem(30), calc(100vw/1440*69), rem(400));
            margin-bottom: rem(19.5);
            padding-bottom: rem(4);

        }
    }

    li:nth-child(2) {
        @media (min-width: 768px) {
            margin-bottom: rem(20);
            padding-left: rem(2);
            letter-spacing: -.6px;
            ;
        }
    }

    li:nth-child(3) {
        @media (min-width: 768px) {
            padding-left: rem(1);
            letter-spacing: -1.6px;
        }
    }
}

.cover__img {
    position: absolute;
    bottom: rem(-67);
    left: rem(2);
    width: calc(100vw/390*214);
    max-width: rem(230);

    @media (min-width: 768px) {
        width: calc(100vw/1440*500);
        max-width: rem(1000);
        bottom: rem(-145);
    }
}