.voice {
    background-color: #fdf0f5;
    padding-top: rem(28);
    padding-bottom: rem(5);
    width: 100%;

    @media (min-width: 768px) {
        padding-top: rem(40);
        padding-bottom: rem(43);
    }
}

.voice {
    .total__width {
        width: 100%;
    }
}

.voice__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(19);

    @media (min-width: 768px) {
        margin-bottom: rem(35);
    }
}

.voice__title {
    img {
        width: rem(37);

        @media (min-width: 768px) {
            width: rem(49);
        }
    }

    .star__right {
        transform: scale(-1, 1);
    }

    h2 {
        font-size: clamp(rem(10), calc(100vw/390*31), rem(45));
        color: $pink;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-left: rem(16);
        margin-right: rem(16);

        @media (min-width: 768px) {
            font-size: clamp(rem(10), calc(100vw/1440*41), rem(55));
            margin-left: rem(22);
            margin-right: rem(23);
        }
    }


}



.slider__container {
    border-spacing: 0;
    width: calc(100vw/390*310);
    margin-left: rem(8);
    margin-right: rem(7);

    @media (min-width: 768px) {
        width: calc(100vw/1440*310);
        min-width: rem(310);
        margin-left: rem(8);
        margin-right: rem(8);
    }

}

.slider__container {
    thead {
        tr {
            width: 100%;
            height: rem(45);
            box-sizing: border-box;

            @media (min-width: 768px) {
                height: calc(100vw/1440*45);
                min-height: rem(30);
            }

            th {

                background-color: $pink;
                border: rem(1) solid $pink;
                border-radius: rem(10) rem(10) 0 0;
                padding-bottom: rem(2);
                padding-left: rem(4);
                font-size: clamp(rem(10), calc(100vw/390*18), rem(30));
                color: $white;
                font-weight: 400;
                letter-spacing: .3px;

                @media (min-width: 768px) {
                    font-size: clamp(rem(10), calc(100vw/1440*18), rem(30));
                }


            }
        }
    }

}


.slider__container {
    tbody {
        tr {
            width: 100%;
            height: rem(62);
            box-sizing: border-box;

            td {
                background-color: $white;
                border: rem(1) solid $pink;
                border-radius: 0 0 rem(10) rem(10);
                text-align: center;
                padding-top: rem(14);
                padding-left: rem(18);
                padding-right: rem(15);
                padding-bottom: rem(11);
                height: calc(100vw/390*116);
                display: flex;
                justify-content: center;

                @media (min-width: 768px) {
                    height: calc(100vw/1440*116);
                    min-height: rem(116);
                }

                h3 {
                    font-size: clamp(rem(10), calc(100vw/390*16), rem(25));
                    color: $pink;
                    letter-spacing: .1px;

                    @media (min-width: 768px) {
                        font-size: clamp(rem(10), calc(100vw/1440*16), rem(25));

                    }


                }

                p {
                    font-size: clamp(rem(10), calc(100vw/390*14), rem(25));
                    line-height: 1.5;
                    color: $black;
                    text-align: start;
                    letter-spacing: .1px;
                    margin-top: rem(10);

                    @media (min-width: 768px) {
                        font-size: clamp(rem(10), calc(100vw/1440*14), rem(25));
                    }
                }
            }
        }
    }
}

.slider__container {
    tbody {
        .slider__img {
            width: 67%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .slider__text {
            width: 116%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: rem(5);
        }
    }
}



// ---------- dotsデザイン ----------

.slider-dots {
    margin-top: rem(14);
    margin-bottom: rem(-21);
    padding: 0;
    text-align: center;

    @media (min-width: 768px) {
        margin-top: rem(5);
        margin-right: rem(6);

    }

    li {
        display: inline-block;
        margin: 0 rem(8);

    }
}


.slider-dots {
    li {
        button {
            position: relative;
            text-indent: -9999px;
            background: none;
            border: none;
            outline: none;
            padding: 0 7px;
        }
    }
}


.slider-dots {
    li {
        button::before {
            content: "";
            cursor: pointer;
            height: rem(15);
            width: rem(15);
            border-radius: 50%;
            background-color: #ffd2d2;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: rem(7);

            @media (min-width: 768px) {
                left: rem(1);
                top: rem(15);
            }
        }
    }
}

.slider-dots {
    li.slick-active {
        button::before {
            background-color: $pink;
        }
    }
}