@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Outfit:wght@100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  color: #333;
  background-color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

@media (min-width: 768px) {
  .total__width {
    width: 72.3%;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.header {
  height: 3.75rem;
  padding-right: 0.625rem;
  padding-left: 0.75rem;
  padding-top: 0.625rem;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
}
@media (min-width: 768px) {
  .header {
    height: 5.75rem;
    padding-right: 0.625rem;
    padding-left: 0.75rem;
    padding-top: 1.1875rem;
  }
}
.header .total__width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 4.5rem;
}
@media (min-width: 768px) {
  .header__logo {
    width: 6rem;
  }
}

.header__btn-list {
  margin: 0 0 0.125rem 0;
  padding: 0;
  display: flex;
}
@media (min-width: 768px) {
  .header__btn-list {
    margin-top: 0.125rem;
  }
}
.header__btn-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15.5px;
  box-sizing: border-box;
  padding-bottom: 0.0625rem;
  padding-left: 0.3125rem;
}
@media (min-width: 768px) {
  .header__btn-list a {
    border-radius: 25.18px;
    padding-left: 0.6875rem;
    padding-bottom: 0.25rem;
    margin-right: 0.125rem;
  }
}
.header__btn-list a h3 {
  font-size: min(0.75rem, 3.0769230769vw);
  color: #fff;
  letter-spacing: 0.4px;
}
@media (min-width: 768px) {
  .header__btn-list a h3 {
    font-size: min(1.32rem, 1.4666666667vw);
    letter-spacing: -0.3px;
  }
}
.header__btn-list a i {
  font-size: min(0.875rem, 3.5897435897vw);
  margin-top: 0.25rem;
  color: #fff;
}
@media (min-width: 768px) {
  .header__btn-list a i {
    font-size: min(1.25rem, 1.3888888889vw);
    margin-top: 0.25rem;
    margin-left: 0.3125rem;
  }
}

.header__btn-list--pink {
  background-color: #fa7da3;
  width: 6.6875rem;
  height: 1.9375rem;
  max-width: 27.4358974359vw;
  max-height: 7.9487179487vw;
}
@media (min-width: 768px) {
  .header__btn-list--pink {
    width: 11.875rem;
    height: 3.125rem;
    padding-left: 0.8125rem;
    max-width: 13.1944444444vw;
    max-height: 3.4722222222vw;
  }
}
.header__btn-list--pink i {
  margin-left: 0.125rem;
}
@media (min-width: 768px) {
  .header__btn-list--pink i {
    margin-left: 0.4375rem;
  }
}

.header__btn-list--green {
  background-color: #49c43d;
  width: 10.8125rem;
  height: 1.9375rem;
  margin-left: min(0.625rem, 2.5641025641vw);
  max-width: 44.358974359vw;
  max-height: 7.9487179487vw;
}
@media (min-width: 768px) {
  .header__btn-list--green {
    width: 18.4375rem;
    height: 3.125rem;
    max-width: 20.4861111111vw;
    max-height: 3.4722222222vw;
    margin-left: 1.125rem;
  }
}
.header__btn-list--green small {
  font-size: min(0.625rem, 2.5641025641vw);
  margin-right: 0.0625rem;
  margin-top: min(0.25rem, 1.0256410256vw);
  letter-spacing: 0.6px;
}
@media (min-width: 768px) {
  .header__btn-list--green small {
    font-size: min(1.11125rem, 1.2347222222vw);
    margin-left: 0.0625rem;
    letter-spacing: -0.2px;
  }
}

.cover {
  background-color: #fa7da3;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.125rem;
  overflow: hidden;
  padding-top: 60px;
}
@media (min-width: 768px) {
  .cover {
    padding-bottom: 2.21875rem;
    padding-top: 92px;
  }
}

@media (min-width: 768px) {
  .cover .total__width {
    min-width: 49.375rem;
  }
}

.cover__wrap {
  max-width: 40.625rem;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .cover__wrap {
    max-width: 93.75rem;
  }
}

.cover__container {
  display: flex;
  justify-content: space-between;
}

.cover__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.125rem;
  margin-left: 1.125rem;
}
@media (min-width: 768px) {
  .cover__text {
    align-items: flex-end;
    margin-top: 1.3125rem;
    margin-left: 3.5416666667vw;
  }
}
.cover__text h1 {
  font-size: clamp(0.625rem, 10.7692307692vw, 4.375rem);
  color: #fff;
}
@media (min-width: 768px) {
  .cover__text h1 {
    font-size: clamp(3.125rem, 8.4826388889vw, 9.375rem);
    position: relative;
    z-index: 1000;
    text-shadow: 5px 5px 35px rgba(250, 125, 163, 0.6), 5px -5px 35px rgba(250, 125, 163, 0.6), -5px 5px 35px rgba(250, 125, 163, 0.6), -5px -5px 35px rgba(250, 125, 163, 0.6), 0 0 15px rgb(250, 125, 163);
  }
}
.cover__text span {
  font-size: clamp(0.625rem, 4.6153846154vw, 1.875rem);
  color: #fff;
  margin-top: 0.59375rem;
  margin-left: 0.125rem;
}
@media (min-width: 768px) {
  .cover__text span {
    font-size: clamp(1.25rem, 2.5vw, 3.125rem);
    margin-top: 1.1875rem;
    margin-right: -2.0625rem;
  }
}

.cover__campaign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.campaign__text {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 2.4358974359vw 5.641025641vw 5.3846153846vw 6.6666666667vw;
}
@media (min-width: 768px) {
  .campaign__text {
    margin-right: 2.3611111111vw;
    padding: 0.8333333333vw 3.7152777778vw 2.7083333333vw 4.0277777778vw;
  }
}
.campaign__text .campaign__text--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.625rem, 6.1538461538vw, 2.5rem);
  color: #fff;
  font-weight: 700;
  margin-top: 0.9375rem;
  margin-right: 0.5625rem;
}
@media (min-width: 768px) {
  .campaign__text .campaign__text--1 {
    font-size: clamp(2.5rem, 3.75vw, 4.375rem);
    margin-top: 1.3125rem;
    margin-right: 0.9375rem;
  }
}
.campaign__text .campaign__text--1 span {
  font-size: clamp(0.625rem, 3.3333333333vw, 1.5625rem);
  color: #fa7da3;
  background-color: #fff;
  padding: 0.25rem 0.21875rem 0.40625rem 0.3125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.4375rem;
}
@media (min-width: 768px) {
  .campaign__text .campaign__text--1 span {
    font-size: clamp(0.9375rem, 2.03125vw, 3.125rem);
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    padding: 0.6875rem 0.5625rem 0.75rem 0.625rem;
  }
}
.campaign__text .campaign__text--2 {
  display: flex;
  font-size: clamp(0.625rem, 19.4871794872vw, 5.625rem);
  color: #fffd7a;
  font-weight: 700;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .campaign__text .campaign__text--2 {
    font-size: clamp(9.375rem, 11.875vw, 11.875rem);
  }
}
.campaign__text .campaign__text--2 small {
  font-size: clamp(1.875rem, 9.2307692308vw, 3.125rem);
  margin-bottom: 0.1875rem;
}
@media (min-width: 768px) {
  .campaign__text .campaign__text--2 small {
    font-size: clamp(3.75rem, 5.625vw, 5.9375rem);
    margin-bottom: 0.5rem;
  }
}

.campaign__sub-text {
  font-size: clamp(0.625rem, 3.5897435897vw, 1.5625rem);
  color: #fff;
  font-family: "Outfit", sans-serif;
  letter-spacing: -0.2px;
  margin-top: 0.59375rem;
  margin-right: 1.625rem;
}
@media (min-width: 768px) {
  .campaign__sub-text {
    font-size: clamp(0.625rem, 1.8388888889vw, 2.5rem);
    margin-right: 6.125rem;
    letter-spacing: 0;
  }
}
.campaign__sub-text small {
  font-size: clamp(0.3125rem, 2.3076923077vw, 1.25rem);
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .campaign__sub-text small {
    font-size: clamp(0.625rem, 1.1819444444vw, 1.5625rem);
  }
}

.campaign__list {
  margin: 1.5625rem 1.625rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .campaign__list {
    margin: 3.28125rem 2.1875rem 0 0;
  }
}
.campaign__list li {
  width: clamp(0.625rem, 34.1025641026vw, 18.75rem);
  height: clamp(1.875rem, 8.9743589744vw, 25rem);
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.625rem, 4.6153846154vw, 1.875rem);
  color: #fff;
  padding-bottom: 0.1875rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .campaign__list li {
    font-size: clamp(0.9375rem, 1.9444444444vw, 2.8125rem);
    width: clamp(0.625rem, 29.4444444444vw, 37.5rem);
    height: clamp(1.875rem, 4.7916666667vw, 25rem);
    margin-bottom: 1.21875rem;
    padding-bottom: 0.25rem;
  }
}
@media (min-width: 768px) {
  .campaign__list li:nth-child(2) {
    margin-bottom: 1.25rem;
    padding-left: 0.125rem;
    letter-spacing: -0.6px;
  }
}
@media (min-width: 768px) {
  .campaign__list li:nth-child(3) {
    padding-left: 0.0625rem;
    letter-spacing: -1.6px;
  }
}

.cover__img {
  position: absolute;
  bottom: -4.1875rem;
  left: 0.125rem;
  width: 54.8717948718vw;
  max-width: 14.375rem;
}
@media (min-width: 768px) {
  .cover__img {
    width: 34.7222222222vw;
    max-width: 62.5rem;
    bottom: -9.0625rem;
  }
}

.present {
  background-color: #fffedd;
  padding-top: 1.4375rem;
  padding-bottom: 1.125rem;
}
@media (min-width: 768px) {
  .present {
    padding-top: 2.9375rem;
    padding-bottom: 1.75rem;
  }
}
.present .total__width {
  width: 89.7%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .present .total__width {
    width: 38.2%;
    min-width: 25rem;
  }
}

.present__text {
  position: relative;
  margin-left: 0.125rem;
}
.present__text p {
  font-size: clamp(0.625rem, 5.3846153846vw, 2.1875rem);
  color: #fa7da3;
  text-align: center;
}
@media (min-width: 768px) {
  .present__text p {
    font-size: clamp(1.25rem, 2.3611111111vw, 3.125rem);
    letter-spacing: -0.5px;
  }
}
.present__text p span {
  margin-left: 0.0625rem;
}
@media (min-width: 768px) {
  .present__text p span {
    margin-left: 0.8333333333vw;
  }
}

.present__text::before,
.present__text::after {
  position: absolute;
  content: "";
  background-color: #fa7da3;
  width: 0.125rem;
  height: 6.9230769231vw;
  max-height: 2.5rem;
  transform: rotate(30deg);
  top: -0.125rem;
  right: 35.2%;
}
@media (min-width: 768px) {
  .present__text::before,
  .present__text::after {
    width: 0.1875rem;
    height: 3.0555555556vw;
    max-height: 3.75rem;
    top: -0.125rem;
    right: 34.3%;
  }
}

.present__text::before {
  transform: rotate(150deg);
  top: -0.0625rem;
  left: 35.3%;
}
@media (min-width: 768px) {
  .present__text::before {
    top: -0.25rem;
    left: 34.8%;
  }
}

.present__box {
  border-spacing: 0;
  width: 100%;
  margin-top: 1.0625rem;
  margin-left: 0.0625rem;
}
@media (min-width: 768px) {
  .present__box {
    margin-top: 1.5625rem;
    margin-left: 0.125rem;
  }
}

.present__box thead tr {
  width: 100%;
  height: 1.9375rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .present__box thead tr {
    height: 3.1944444444vw;
    min-height: 1.875rem;
  }
}
.present__box thead tr th {
  font-size: clamp(0.625rem, 5.3846153846vw, 2.1875rem);
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.2px;
  background-color: #fa7da3;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0.625rem 0.625rem 0 0;
  padding-bottom: 0.3125rem;
}
@media (min-width: 768px) {
  .present__box thead tr th {
    font-size: clamp(0.9375rem, 2.2222222222vw, 2.8125rem);
    padding-right: 0.5rem;
    padding-bottom: 0.4375rem;
  }
}

.present__box tbody tr {
  width: 100%;
  height: 3.875rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .present__box tbody tr {
    height: 7.0833333333vw;
    min-height: 5.625rem;
  }
}
.present__box tbody tr td {
  background-color: #fff;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0 0 0.625rem 0.625rem;
  text-align: center;
  padding-left: 0.6875rem;
  padding-bottom: 0.4375rem;
}
@media (min-width: 768px) {
  .present__box tbody tr td {
    padding-left: 1.1875rem;
    padding-bottom: 0.5625rem;
  }
}
.present__box tbody tr td h3 {
  font-size: clamp(0.625rem, 6.9230769231vw, 2.5rem);
  font-weight: 400;
  color: #fa7da3;
  letter-spacing: 0.2px;
}
@media (min-width: 768px) {
  .present__box tbody tr td h3 {
    font-size: clamp(0.625rem, 2.9861111111vw, 3.75rem);
    letter-spacing: 0.8px;
  }
}
.present__box tbody tr td h3 span {
  font-size: clamp(1.25rem, 10.7692307692vw, 3.75rem);
  font-weight: 600;
}
@media (min-width: 768px) {
  .present__box tbody tr td h3 span {
    font-size: clamp(2.1875rem, 4.5833333333vw, 5rem);
  }
}

.present__sub-text {
  margin-top: 0.5625rem;
  margin-right: 0.0625rem;
}
@media (min-width: 768px) {
  .present__sub-text {
    margin-top: 1.1875rem;
  }
}
.present__sub-text p {
  font-size: clamp(0.625rem, 2.5641025641vw, 1.25rem);
  color: #333;
  text-align: center;
}
@media (min-width: 768px) {
  .present__sub-text p {
    font-size: clamp(0.875rem, 0.9722222222vw, 2.1875rem);
  }
}

.try {
  padding-top: 1.1875rem;
  padding-bottom: 2.5625rem;
}
@media (min-width: 768px) {
  .try {
    padding-top: 3.8125rem;
    padding-bottom: 3.875rem;
  }
}
.try .total__width {
  width: 89.7%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .try .total__width {
    width: 39.7%;
    min-width: 31.25rem;
  }
}

.try__text {
  margin-left: 0.625rem;
}
@media (min-width: 768px) {
  .try__text {
    margin-left: 1.0625rem;
  }
}

.try__text p {
  font-size: clamp(0.625rem, 5.3846153846vw, 2.1875rem);
  color: #fa7da3;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .try__text p {
    font-size: clamp(1.25rem, 2.3611111111vw, 3.125rem);
    letter-spacing: 3.5px;
  }
}

.try__btn a:hover {
  background-color: #40e02f;
}

.try__btn {
  margin-top: 0.8125rem;
}
@media (min-width: 768px) {
  .try__btn {
    margin-top: 1.3125rem;
    margin-left: 0.125rem;
  }
}
.try__btn .reserve__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #49c43d;
  width: 100%;
  height: 20.5128205128vw;
  border-radius: 2.5rem;
  box-sizing: border-box;
  padding-left: 2.5rem;
  padding-bottom: 0.125rem;
}
@media (min-width: 768px) {
  .try__btn .reserve__btn {
    border-radius: 4.0625rem;
    height: 9.0277777778vw;
    max-height: 9.375rem;
    padding-left: 4.1875rem;
  }
}

.try__btn .reserve__btn h2 {
  font-size: clamp(0.625rem, 5.3846153846vw, 2.1875rem);
  color: #fff;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 2px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .try__btn .reserve__btn h2 {
    font-size: clamp(1.5625rem, 2.3611111111vw, 3.125rem);
    letter-spacing: 3.5px;
    width: 68%;
    min-width: 21.875rem;
  }
}
.try__btn .reserve__btn i {
  font-size: clamp(0.625rem, 6.6666666667vw, 2.1875rem);
  color: #fff;
  margin-left: 0.875rem;
  margin-top: 0.0625rem;
}
@media (min-width: 768px) {
  .try__btn .reserve__btn i {
    font-size: clamp(1.875rem, 2.8472222222vw, 3.75rem);
    font-weight: 600;
    margin-left: 1.7361111111vw;
    margin-top: 0.3125rem;
  }
}

.try__content {
  margin-top: 1.875rem;
}
@media (min-width: 768px) {
  .try__content {
    margin-top: 2.9375rem;
  }
}

.try__content .content__title {
  border-top: 0.0625rem solid #50bfff;
  border-bottom: 0.0625rem solid #50bfff;
  padding-top: 0.625rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .try__content .content__title {
    border-top: 0.125rem solid #50bfff;
    border-bottom: 0.125rem solid #50bfff;
    padding-top: 1rem;
    padding-bottom: 1.1875rem;
  }
}
.try__content .content__title h3 {
  font-size: clamp(0.625rem, 4.358974359vw, 2.1875rem);
  color: #50bfff;
  font-weight: 600;
  letter-spacing: 1.7px;
  margin-left: 0.0625rem;
  text-align: center;
}
@media (min-width: 768px) {
  .try__content .content__title h3 {
    font-size: clamp(0.625rem, 1.9444444444vw, 2.5rem);
    letter-spacing: 3px;
  }
}

.try__content .content__text {
  padding-top: 0.875rem;
  padding-left: 3.8461538462vw;
}
@media (min-width: 768px) {
  .try__content .content__text {
    padding-top: 1.4375rem;
    padding-left: 1.4583333333vw;
  }
}

.try__content .content__text P {
  font-size: clamp(0.625rem, 3.5897435897vw, 1.875rem);
  position: relative;
}
@media (min-width: 768px) {
  .try__content .content__text P {
    font-size: clamp(0.625rem, 1.5972222222vw, 2.1875rem);
    letter-spacing: -0.1px;
  }
}
.try__content .content__text P span {
  margin-right: 0.875rem;
}
@media (min-width: 768px) {
  .try__content .content__text P span {
    margin-right: 1.375rem;
  }
}
.try__content .content__text P small {
  font-size: clamp(0.3125rem, 2.8205128205vw, 2.1875rem);
}
@media (min-width: 768px) {
  .try__content .content__text P small {
    font-size: clamp(0.625rem, 1.25vw, 2.5rem);
  }
}
.try__content .content__text p:nth-child(2) {
  margin-top: 0.625rem;
  letter-spacing: -0.1px;
}
@media (min-width: 768px) {
  .try__content .content__text p:nth-child(2) {
    margin-top: 1rem;
    letter-spacing: -0.2px;
  }
}

.content__text span:before,
.content__text span:after {
  position: absolute;
  content: "";
  background-color: #333;
  width: 2.0512820513vw;
  height: 0.0625rem;
  transform: rotate(58deg);
  top: 68%;
  left: -2%;
}
@media (min-width: 768px) {
  .content__text span:before,
  .content__text span:after {
    width: 0.9027777778vw;
    height: 0.125rem;
  }
}
.content__text span:before {
  transform: rotate(120deg);
  top: 27%;
  left: -2%;
}
.content__text p:before,
.content__text p:after {
  position: absolute;
  content: "";
  background-color: #333;
  width: 2.0512820513vw;
  height: 0.0625rem;
  transform: rotate(58deg);
  top: 32%;
  left: 16.8%;
}
@media (min-width: 768px) {
  .content__text p:before,
  .content__text p:after {
    width: 0.9027777778vw;
    height: 0.125rem;
    top: 29%;
    left: 16.4%;
  }
}
.content__text p:before {
  transform: rotate(120deg);
  top: 76%;
  left: 16.7%;
}
@media (min-width: 768px) {
  .content__text p:before {
    top: 71%;
    left: 16.4%;
  }
}

.point {
  padding-top: 2.3125rem;
  padding-bottom: 0.0625rem;
  background-color: #fdf0f5;
}
@media (min-width: 768px) {
  .point {
    padding-top: 3.3125rem;
    padding-bottom: 1.9375rem;
  }
}

.point__sub-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 0.1875rem;
}
.point__sub-title img {
  width: 12.3125rem;
  height: 0.9375rem;
  max-height: 100%;
}
@media (min-width: 768px) {
  .point__sub-title img {
    width: 16.375rem;
    height: 1.1875rem;
  }
}
.point__sub-title p {
  font-size: clamp(0.625rem, 4.6153846154vw, 1.875rem);
  color: #4d2b1b;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 0.25rem;
  margin-bottom: 0.0625rem;
}
@media (min-width: 768px) {
  .point__sub-title p {
    font-size: clamp(0.625rem, 1.25vw, 1.875rem);
  }
}

.point__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6875rem;
  margin-right: 0.0625rem;
  margin-bottom: 1.4375rem;
}
@media (min-width: 768px) {
  .point__title {
    margin-top: 0.9375rem;
    margin-bottom: 2.9375rem;
  }
}

.point__title img {
  width: 2.3125rem;
}
@media (min-width: 768px) {
  .point__title img {
    width: 3.0625rem;
  }
}
.point__title .star__right {
  transform: scale(-1, 1);
}
.point__title h2 {
  font-size: clamp(0.625rem, 7.9487179487vw, 2.8125rem);
  color: #fa7da3;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-left: 0.0625rem;
  margin-right: -0.25rem;
}
@media (min-width: 768px) {
  .point__title h2 {
    font-size: clamp(0.625rem, 2.8472222222vw, 3.4375rem);
    letter-spacing: 1px;
    margin-left: 0.5625rem;
    margin-right: 0.1875rem;
  }
}

.point__box {
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.9375rem;
}
@media (min-width: 768px) {
  .point__box {
    margin-top: 1.5625rem;
    width: 54.2%;
    margin-bottom: 3.0625rem;
  }
}

.point__box thead tr {
  width: 100%;
  height: 11.5384615385vw;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .point__box thead tr {
    height: 5.0694444444vw;
    min-height: 1.875rem;
  }
}
.point__box thead tr th {
  font-size: clamp(0.625rem, 4.6153846154vw, 2.1875rem);
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.2px;
  background-color: #fa7da3;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0.625rem 0.625rem 0 0;
  padding-bottom: 0.0625rem;
}
@media (min-width: 768px) {
  .point__box thead tr th {
    font-size: clamp(0.9375rem, 1.9444444444vw, 2.8125rem);
    padding-left: 0rem;
    letter-spacing: 0;
    padding-bottom: 0rem;
  }
}
.point__box thead tr th span {
  margin: 0 0.625rem;
}
@media (min-width: 768px) {
  .point__box thead tr th span {
    margin: 0 1.0625rem;
  }
}

.point__box tbody tr {
  width: 100%;
  height: 3.875rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .point__box tbody tr {
    height: 7.0833333333vw;
    min-height: 5.625rem;
  }
}
.point__box tbody tr td {
  background-color: #fff;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0 0 0.625rem 0.625rem;
  text-align: center;
  padding-top: 0.875rem;
  padding-left: 1.25rem;
  padding-right: 1.3125rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .point__box tbody tr td {
    padding-top: 1.5625rem;
    padding-left: 2.5625rem;
    padding-bottom: 2.5625rem;
  }
}

.point__box .point__text {
  font-size: clamp(0.625rem, 3.5897435897vw, 1.875rem);
  font-weight: 400;
  color: #333;
  letter-spacing: -0.4px;
  text-align: start;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .point__box .point__text {
    font-size: clamp(0.625rem, 1.4583333333vw, 1.875rem);
    letter-spacing: 0;
  }
}
.point__box .point__text span {
  letter-spacing: -5px;
}
@media (min-width: 768px) {
  .point__box .point__text span {
    letter-spacing: 2px;
  }
}

.count {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
}
@media (min-width: 768px) {
  .count {
    padding-top: 1.5rem;
    width: 73%;
    min-width: 25rem;
    margin: 0 auto;
    padding-left: 0.0625rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}
.count .count__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count .count__box .count__img {
  border: 0.0625rem solid #fa7da3;
  width: 36.1538461538vw;
  height: 21.2820512821vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .count .count__box .count__img {
    border: 0.125rem solid #fa7da3;
    width: 15.8333333333vw;
    height: 9.2361111111vw;
    margin-bottom: 0.9375rem;
  }
}
.count .count__box .count__img img {
  width: 4.4375rem;
  margin-left: 0.25rem;
}
@media (min-width: 768px) {
  .count .count__box .count__img img {
    width: 7.9166666667vw;
  }
}
.count .count__box .count__img span {
  font-size: clamp(0.625rem, 4.6153846154vw, 1.875rem);
  font-weight: 400;
  color: #433e3f;
  letter-spacing: 1.3px;
  margin-left: 0.1875rem;
}
@media (min-width: 768px) {
  .count .count__box .count__img span {
    font-size: clamp(1.25rem, 2.0138888889vw, 2.5rem);
    letter-spacing: 0.3px;
    margin-bottom: 0.25rem;
  }
}
.count .count__box p {
  font-size: clamp(0.625rem, 3.5897435897vw, 1.875rem);
  font-weight: 400;
  color: #333;
}
@media (min-width: 768px) {
  .count .count__box p {
    font-size: clamp(0.625rem, 1.4583333333vw, 1.875rem);
  }
}

.count__wrap--2 .count__img {
  background-color: #fdf0f5;
  border: 0.0625rem solid #666;
}
@media (min-width: 768px) {
  .count__wrap--2 .count__img {
    background-color: #fff;
    border: 0.125rem solid #666;
  }
}

.point__wrap--2 .point__box {
  width: 89.7%;
  margin-bottom: 1.875rem;
}
@media (min-width: 768px) {
  .point__wrap--2 .point__box {
    width: 54.2%;
    margin-bottom: 3.0625rem;
  }
}
.point__wrap--2 .point__box thead th {
  padding-top: 0.125rem;
  padding-left: 0.25rem;
}
@media (min-width: 768px) {
  .point__wrap--2 .point__box thead th {
    padding-bottom: 0.25rem;
    padding-left: 0;
  }
}
.point__wrap--2 .point__box thead th span {
  margin: 0 0.5625rem 0 0.625rem;
}
@media (min-width: 768px) {
  .point__wrap--2 .point__box thead th span {
    margin: 0 1.0625rem 0 1.0625rem;
  }
}
.point__wrap--2 .point__box tbody td {
  padding: 0.9375rem 0 0 0;
}
@media (min-width: 768px) {
  .point__wrap--2 .point__box tbody td {
    padding-top: 1.75rem;
  }
}
.point__wrap--2 .point__box tbody td .point__text {
  letter-spacing: 0;
  width: 88.5%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .point__wrap--2 .point__box tbody td .point__text {
    width: 89%;
  }
}

.plan__title {
  font-size: clamp(0.625rem, 5.8974358974vw, 2.5rem);
  font-weight: 600;
  color: #4d2b1b;
  margin-top: 1.625rem;
  margin-bottom: 1.875rem;
}
@media (min-width: 768px) {
  .plan__title {
    font-size: clamp(0.625rem, 1.6666666667vw, 2.1875rem);
    margin-top: 1.8125rem;
    margin-bottom: 1.5rem;
  }
}

.plan__inner {
  background-image: url(/assets/images/point/total_body.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 79.7435897436vw;
  height: 90vw;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .plan__inner {
    width: 37.0138888889vw;
    height: 41.7361111111vw;
  }
}

.plan__container--text-1,
.plan__container--text-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .plan__container--text-1,
  .plan__container--text-2 {
    margin-right: 4.1666666667vw;
  }
}
.plan__container--text-1 span,
.plan__container--text-2 span {
  font-size: clamp(0.625rem, 3.0769230769vw, 1.875rem);
  font-weight: 400;
  color: #333;
  line-height: 0.5;
}
@media (min-width: 768px) {
  .plan__container--text-1 span,
  .plan__container--text-2 span {
    font-size: clamp(0.625rem, 1.1111111111vw, 1.5625rem);
  }
}

.plan__container--text-2 {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .plan__container--text-2 {
    top: 0;
    right: -6.9444444444vw;
    width: 10.4166666667vw;
  }
}

.plan__inner .parts-1 {
  margin-top: 0.2564102564vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-1 {
    margin-top: 1.7361111111vw;
  }
}
.plan__inner .parts-2 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-2 {
    margin-top: 1.1111111111vw;
  }
}
.plan__inner .parts-3 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-3 {
    margin-top: 1.1111111111vw;
  }
}
.plan__inner .parts-4 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-4 {
    margin-top: 1.1111111111vw;
  }
}
.plan__inner .parts-5 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-5 {
    margin-top: 1.1111111111vw;
  }
}
.plan__inner .parts-6 {
  margin-top: 7.6923076923vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-6 {
    margin-top: 2.4305555556vw;
  }
}
.plan__inner .parts-7 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-7 {
    margin-top: 1.1111111111vw;
  }
}
.plan__inner .parts-8 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-8 {
    margin-top: 5.6944444444vw;
    margin-left: 2.7083333333vw;
  }
}
.plan__inner .parts-9 {
  margin-top: 16.9230769231vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-9 {
    margin-top: 5.0694444444vw;
    margin-right: 1.7361111111vw;
  }
}
.plan__inner .parts-10 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-10 {
    margin-top: 1.1111111111vw;
    margin-right: 1.7361111111vw;
  }
}
.plan__inner .parts-11 {
  margin-top: 7.6923076923vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-11 {
    margin-top: 1.1111111111vw;
    margin-right: 1.6666666667vw;
  }
}
.plan__inner .parts-12 {
  margin-top: 3.0769230769vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-12 {
    margin-top: 10.5555555556vw;
    margin-right: 4.7916666667vw;
  }
}
.plan__inner .parts-13 {
  margin-top: 11.2820512821vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-13 {
    margin-top: 5.5555555556vw;
    margin-right: 4.8611111111vw;
  }
}
.plan__inner .parts-14 {
  margin-top: 10.5128205128vw;
  margin-left: 4.358974359vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-14 {
    margin-top: 4.7222222222vw;
    margin-left: 0.6944444444vw;
  }
}
.plan__inner .parts-15 {
  margin-top: 29.4871794872vw;
  margin-left: 2.3076923077vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-15 {
    margin-top: 5.6944444444vw;
    margin-left: 4.5138888889vw;
  }
}
.plan__inner .parts-16 {
  margin-top: 3.0769230769vw;
  margin-right: -2.3076923077vw;
}
@media (min-width: 768px) {
  .plan__inner .parts-16 {
    margin-top: 1.1111111111vw;
    margin-left: 2.2916666667vw;
  }
}

.plan__wrap--2 .plan__title {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .plan__wrap--2 .plan__title {
    margin-top: 3.8125rem;
    margin-bottom: 1.875rem;
    letter-spacing: -0.5px;
  }
}
.plan__wrap--2 .plan__inner {
  background-image: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 93%;
  height: auto;
}
@media (min-width: 768px) {
  .plan__wrap--2 .plan__inner {
    width: 84.9%;
  }
}

.parts-plan__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .parts-plan__container {
    margin-bottom: 2.25rem;
  }
}
.parts-plan__container img {
  width: 25.641025641vw;
  height: 25.641025641vw;
}
@media (min-width: 768px) {
  .parts-plan__container img {
    width: 6.9444444444vw;
    height: 6.9444444444vw;
  }
}
.parts-plan__container span {
  font-size: clamp(0.0625rem, 3.5897435897vw, 1.875rem);
  font-weight: 600;
  color: #fa7da3;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .parts-plan__container span {
    font-size: clamp(0.625rem, 0.9722222222vw, 1.875rem);
    margin-top: 0.4375rem;
  }
}

.parts-plan__container .parts-plan__mark {
  position: relative;
}
.parts-plan__container .parts-plan__mark::before,
.parts-plan__container .parts-plan__mark::after {
  position: absolute;
  content: "";
  width: 7.6923076923vw;
  height: 4.6153846154vw;
  border-radius: 50%;
  background-color: rgba(80, 191, 255, 0.5);
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .parts-plan__container .parts-plan__mark::before,
  .parts-plan__container .parts-plan__mark::after {
    width: 2.0833333333vw;
    height: 1.25vw;
  }
}

.parts-plan__wrap--1 .parts-plan__mark::before {
  top: 17.6923076923vw;
  left: -3.8461538462vw;
}
@media (min-width: 768px) {
  .parts-plan__wrap--1 .parts-plan__mark::before {
    top: 4.7916666667vw;
    left: -1.0416666667vw;
  }
}
.parts-plan__wrap--1 .parts-plan__mark::after {
  display: none;
}

.parts-plan__wrap--2 .parts-plan__mark::before {
  width: 4.6153846154vw;
  height: 4.6153846154vw;
  top: 9.4871794872vw;
  left: -11.2820512821vw;
}
@media (min-width: 768px) {
  .parts-plan__wrap--2 .parts-plan__mark::before {
    width: 1.25vw;
    height: 1.25vw;
    top: 2.5694444444vw;
    left: -3.0555555556vw;
  }
}
.parts-plan__wrap--2 .parts-plan__mark::after {
  width: 4.6153846154vw;
  height: 4.6153846154vw;
  top: 9.4871794872vw;
  left: 6.4102564103vw;
}
@media (min-width: 768px) {
  .parts-plan__wrap--2 .parts-plan__mark::after {
    width: 1.25vw;
    height: 1.25vw;
    top: 2.5694444444vw;
    left: 1.7361111111vw;
  }
}

.parts-plan__wrap--3 .parts-plan__mark::before {
  width: 6.6666666667vw;
  height: 6.6666666667vw;
  top: 14.8717948718vw;
  left: -3.0769230769vw;
}
@media (min-width: 768px) {
  .parts-plan__wrap--3 .parts-plan__mark::before {
    width: 1.8055555556vw;
    height: 1.8055555556vw;
    top: 4.0277777778vw;
    left: -0.8333333333vw;
  }
}
.parts-plan__wrap--3 .parts-plan__mark::after {
  display: none;
}

.parts-plan__wrap--4 .parts-plan__mark::before {
  width: 7.6923076923vw;
  height: 4.6153846154vw;
  top: 8.9743589744vw;
  left: -3.8461538462vw;
}
@media (min-width: 768px) {
  .parts-plan__wrap--4 .parts-plan__mark::before {
    width: 2.0833333333vw;
    height: 1.25vw;
    top: 2.4305555556vw;
    left: -1.0416666667vw;
  }
}
.parts-plan__wrap--4 .parts-plan__mark::after {
  display: none;
}

.parts-plan__wrap--5 .parts-plan__mark::before {
  width: 4.1025641026vw;
  height: 1.5384615385vw;
  top: 22.3076923077vw;
  left: -2.0512820513vw;
}
@media (min-width: 768px) {
  .parts-plan__wrap--5 .parts-plan__mark::before {
    width: 1.1111111111vw;
    height: 0.4166666667vw;
    top: 6.0416666667vw;
    left: -0.5555555556vw;
  }
}
.parts-plan__wrap--5 .parts-plan__mark::after {
  display: none;
}

.parts-plan__wrap--6 .parts-plan__mark::before {
  width: 1.2820512821vw;
  height: 4.6153846154vw;
  top: 18.2051282051vw;
  left: -4.358974359vw;
  transform: rotate(150deg);
}
@media (min-width: 768px) {
  .parts-plan__wrap--6 .parts-plan__mark::before {
    width: 0.3472222222vw;
    height: 1.25vw;
    top: 4.9305555556vw;
    left: -1.1805555556vw;
  }
}
.parts-plan__wrap--6 .parts-plan__mark::after {
  width: 1.2820512821vw;
  height: 4.6153846154vw;
  top: 18.2051282051vw;
  left: 3.5897435897vw;
  transform: rotate(30deg);
}
@media (min-width: 768px) {
  .parts-plan__wrap--6 .parts-plan__mark::after {
    width: 0.3472222222vw;
    height: 1.25vw;
    top: 4.9305555556vw;
    left: 0.9722222222vw;
  }
}

.point__wrap--3 .point__box {
  margin-bottom: 1.875rem;
}
.point__wrap--3 .point__box thead th {
  padding-top: 0.125rem;
  padding-left: 0.25rem;
}
@media (min-width: 768px) {
  .point__wrap--3 .point__box thead th {
    padding-bottom: 0.1875rem;
  }
}
.point__wrap--3 .point__box thead th span {
  margin: 0 0.5625rem 0 0.625rem;
}
@media (min-width: 768px) {
  .point__wrap--3 .point__box thead th span {
    margin: 0 1.0625rem 0 1.125rem;
  }
}
@media (min-width: 768px) {
  .point__wrap--3 .point__box tbody tr {
    height: 6.25vw;
  }
}
.point__wrap--3 .point__box tbody tr td {
  padding: 0.9375rem 0 1.0625rem 0.0625rem;
}
@media (min-width: 768px) {
  .point__wrap--3 .point__box tbody tr td {
    padding-top: 0.875rem;
  }
}
.point__wrap--3 .point__box tbody tr td .point__text {
  letter-spacing: 0;
  width: 88.5%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .point__wrap--3 .point__box tbody tr td .point__text {
    width: 89.5%;
  }
}

.counseling-1 {
  padding: 1.875rem 0;
}
@media (min-width: 768px) {
  .counseling-1 {
    padding: 3.75rem 0 1.25rem;
  }
}
.counseling-1 .total__width {
  width: 89.7%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .counseling-1 .total__width {
    width: 39.7%;
    min-width: 31.25rem;
  }
}

.counseling-2 {
  padding: 1.875rem 0 2.5625rem;
}
@media (min-width: 768px) {
  .counseling-2 {
    padding: 3.6875rem 0 4.0625rem;
  }
}
.counseling-2 .total__width {
  width: 89.7%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .counseling-2 .total__width {
    width: 39.7%;
    min-width: 31.25rem;
  }
}

.choose {
  padding-top: 1.0625rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .choose {
    padding-top: 2.4375rem;
    padding-bottom: 1.0625rem;
  }
}

.choose-title__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose__sub-title {
  font-size: clamp(0.625rem, 4.6153846154vw, 1.875rem);
  color: #333;
  margin-left: 0.375rem;
}
@media (min-width: 768px) {
  .choose__sub-title {
    font-size: clamp(0.625rem, 1.6666666667vw, 2.1875rem);
    margin-left: 0.5rem;
  }
}

.choose__title {
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}
@media (min-width: 768px) {
  .choose__title {
    margin-top: 0.8125rem;
  }
}
.choose__title img {
  width: 2.3125rem;
}
@media (min-width: 768px) {
  .choose__title img {
    width: 3.125rem;
  }
}
.choose__title .star__right {
  transform: scale(-1, 1);
}
.choose__title h2 {
  font-size: clamp(0.625rem, 8.2051282051vw, 2.8125rem);
  color: #fa7da3;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin: 0.4375rem 0.4375rem 0 0.5rem;
}
@media (min-width: 768px) {
  .choose__title h2 {
    font-size: clamp(0.625rem, 2.9166666667vw, 3.4375rem);
    margin: 0.625rem 0.75rem 0 0.6875rem;
  }
}

.choose__wrap {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .choose__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50.5%;
    min-width: 37.5rem;
    margin: 2.375rem auto 0;
  }
}

.choose__box {
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.9375rem;
}
@media (min-width: 768px) {
  .choose__box {
    width: 54.2%;
    margin: 0;
    width: 97.2%;
  }
}

.choose__box thead tr {
  width: 100%;
  height: 11.7948717949vw;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .choose__box thead tr {
    height: 4.1666666667vw;
  }
}
.choose__box thead tr th {
  font-size: clamp(0.625rem, 4.6153846154vw, 2.1875rem);
  color: #fa7da3;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: #fdf0f5;
  border: 0.0625rem solid #fa7da3;
  border-bottom: none;
  border-radius: 0.625rem 0.625rem 0 0;
  padding-bottom: 0.0625rem;
  padding-right: 0;
}
@media (min-width: 768px) {
  .choose__box thead tr th {
    font-size: clamp(0.9375rem, 1.9444444444vw, 2.8125rem);
  }
}

.choose__box tbody tr {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .choose__box tbody tr {
    height: 24.1666666667vw;
    min-height: 5.625rem;
  }
}
.choose__box tbody tr td {
  background-color: #fff;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0 0 0.625rem 0.625rem;
  border-top: none;
  text-align: center;
  padding-top: 0.875rem;
  padding-left: 1.1875rem;
  padding-right: 1.1875rem;
  padding-bottom: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .choose__box tbody tr td {
    padding-top: 0.625rem;
    padding-left: 1.0625rem;
    padding-right: 1.0625rem;
    padding-bottom: 1rem;
  }
}

.choose__box .choose__text {
  font-size: clamp(0.625rem, 3.5897435897vw, 1.25rem);
  color: #333;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: start;
  margin-left: 0.125rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .choose__box .choose__text {
    font-size: clamp(0.625rem, 1.25vw, 1.875rem);
    line-height: 1.55;
  }
}
.choose__box .choose__img {
  width: 100%;
}

@media (min-width: 768px) {
  .choose__wrap--2 {
    display: flex;
    justify-content: flex-end;
  }
}
.choose__wrap--2 .choose__box {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .choose__wrap--2 .choose__box {
    margin-top: 0;
    width: 94.3%;
  }
}
.choose__wrap--2 .choose__box thead th {
  letter-spacing: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .choose__wrap--2 .choose__box thead th {
    padding-left: 0rem;
  }
}
.choose__wrap--2 .choose__box tbody tr td {
  padding-right: 1.125rem;
  padding-bottom: 1.1875rem;
}

.voice {
  background-color: #fdf0f5;
  padding-top: 1.75rem;
  padding-bottom: 0.3125rem;
  width: 100%;
}
@media (min-width: 768px) {
  .voice {
    padding-top: 2.5rem;
    padding-bottom: 2.6875rem;
  }
}

.voice .total__width {
  width: 100%;
}

.voice__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.1875rem;
}
@media (min-width: 768px) {
  .voice__title {
    margin-bottom: 2.1875rem;
  }
}

.voice__title img {
  width: 2.3125rem;
}
@media (min-width: 768px) {
  .voice__title img {
    width: 3.0625rem;
  }
}
.voice__title .star__right {
  transform: scale(-1, 1);
}
.voice__title h2 {
  font-size: clamp(0.625rem, 7.9487179487vw, 2.8125rem);
  color: #fa7da3;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .voice__title h2 {
    font-size: clamp(0.625rem, 2.8472222222vw, 3.4375rem);
    margin-left: 1.375rem;
    margin-right: 1.4375rem;
  }
}

.slider__container {
  border-spacing: 0;
  width: 79.4871794872vw;
  margin-left: 0.5rem;
  margin-right: 0.4375rem;
}
@media (min-width: 768px) {
  .slider__container {
    width: 21.5277777778vw;
    min-width: 19.375rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.slider__container thead tr {
  width: 100%;
  height: 2.8125rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .slider__container thead tr {
    height: 3.125vw;
    min-height: 1.875rem;
  }
}
.slider__container thead tr th {
  background-color: #fa7da3;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0.625rem 0.625rem 0 0;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  font-size: clamp(0.625rem, 4.6153846154vw, 1.875rem);
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.3px;
}
@media (min-width: 768px) {
  .slider__container thead tr th {
    font-size: clamp(0.625rem, 1.25vw, 1.875rem);
  }
}

.slider__container tbody tr {
  width: 100%;
  height: 3.875rem;
  box-sizing: border-box;
}
.slider__container tbody tr td {
  background-color: #fff;
  border: 0.0625rem solid #fa7da3;
  border-radius: 0 0 0.625rem 0.625rem;
  text-align: center;
  padding-top: 0.875rem;
  padding-left: 1.125rem;
  padding-right: 0.9375rem;
  padding-bottom: 0.6875rem;
  height: 29.7435897436vw;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .slider__container tbody tr td {
    height: 8.0555555556vw;
    min-height: 7.25rem;
  }
}
.slider__container tbody tr td h3 {
  font-size: clamp(0.625rem, 4.1025641026vw, 1.5625rem);
  color: #fa7da3;
  letter-spacing: 0.1px;
}
@media (min-width: 768px) {
  .slider__container tbody tr td h3 {
    font-size: clamp(0.625rem, 1.1111111111vw, 1.5625rem);
  }
}
.slider__container tbody tr td p {
  font-size: clamp(0.625rem, 3.5897435897vw, 1.5625rem);
  line-height: 1.5;
  color: #333;
  text-align: start;
  letter-spacing: 0.1px;
  margin-top: 0.625rem;
}
@media (min-width: 768px) {
  .slider__container tbody tr td p {
    font-size: clamp(0.625rem, 0.9722222222vw, 1.5625rem);
  }
}

.slider__container tbody .slider__img {
  width: 67%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slider__container tbody .slider__text {
  width: 116%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.3125rem;
}

.slider-dots {
  margin-top: 0.875rem;
  margin-bottom: -1.3125rem;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .slider-dots {
    margin-top: 0.3125rem;
    margin-right: 0.375rem;
  }
}
.slider-dots li {
  display: inline-block;
  margin: 0 0.5rem;
}

.slider-dots li button {
  position: relative;
  text-indent: -9999px;
  background: none;
  border: none;
  outline: none;
  padding: 0 7px;
}

.slider-dots li button::before {
  content: "";
  cursor: pointer;
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 50%;
  background-color: #ffd2d2;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0.4375rem;
}
@media (min-width: 768px) {
  .slider-dots li button::before {
    left: 0.0625rem;
    top: 0.9375rem;
  }
}

.slider-dots li.slick-active button::before {
  background-color: #fa7da3;
}

.footer {
  height: 4rem;
  background-color: #fa7da3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 0.1875rem;
}
@media (min-width: 768px) {
  .footer {
    height: 8rem;
    padding-top: 0.1875rem;
    padding-left: 0.125rem;
  }
}
.footer img {
  width: 4.5rem;
}
@media (min-width: 768px) {
  .footer img {
    width: 8.9375rem;
  }
}/*# sourceMappingURL=style.css.map */